{% extends 'base.html.twig' %}


{% block title %}CONDITIONS GENERALES D’UTILISATION
{% endblock %}

{% block body %}
	<div class="row d-flex justify-content-center mt-5">
		<div class="col-md-11 ">

			<div class="markdownParsed cgu" data-v-311ae9aa="">
				<p>CONDITIONS GENERALES D’UTILISATION DE Gtrouver<br>
					Dernière révision le 11/10/2020</p>
				<p>Le site Internet disponible à l’adresse
					<strong>
						<a href="https://gtrouver.com">www.gtrouver.com</a>
					</strong>
					(le «Site») est exploité par et est la propriété de gtrouver SAS («gtrouver»), immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro 834 337 370 et dont le siège social est situé au 110 bd Bineau 92200 Neuilly-Sur-Seine.</p>
				<p>Son directeur de publication est Aurélie Toubol.</p>
				<p>Le Site exploite une plate-forme Internet pour connecter ses utilisateurs et / ou entre les utilisateurs et les partenaires gtrouver (la «Plateforme»).</p>
				<p>Vous pouvez nous contacter par mail à l’adresse ci-dessus ou par mail à sing
					<strong>
						<a href="mailto:contact@gtrouver.com">contact@gtrouver.com</a>
					</strong>.</p>
				<p>Dispositions générales</p>
				<ol>
					<li>Acceptation, portée et évolution des conditions générales</li>
				</ol>
				<p>Ces conditions générales d’utilisation (les «CGU») s’appliquent à toute utilisation de la Plateforme. En accédant, en utilisant ou en vous connectant au Site, vous (l '«Utilisateur», «vous») reconnaissez avoir lu, compris et accepté toutes les conditions contenues dans les présentes CGU.</p>
				<p>Si vous n’êtes pas d’accord avec ces CGU, veuillez cesser immédiatement toute utilisation de la Plateforme ou du Service.</p>
				<p>Vous avez la possibilité d’enregistrer et d’imprimer les CGU en utilisant les fonctionnalités standard du navigateur ou de l’ordinateur que vous utilisez. Conformément aux dispositions des articles L.221-8 à L.221-11 du Code de la consommation, vous acceptez que les CGV vous soient communiquées par voie électronique.</p>
				<p>Vous acceptez également d’être informé de toute modification éventuelle des CGU sous forme électronique, par courrier électronique.</p>
				<p>Ces CGV sont susceptibles d’être mises à jour régulièrement. Nous vous invitons à visiter cette page à chaque fois que vous vous connectez au Site. La version applicable est celle en vigueur au jour de l’utilisation du Site et / ou du Service.</p>
				<p>Pour les Utilisateurs accédant à la Plateforme dans le cadre de leur activité professionnelle, pour le compte d’un client gtrouver, ces CGV complètent les obligations contractuelles contenues dans le contrat conclu entre gtrouver et ledit client. Ils engagent le client de gtrouver en tant qu’utilisateur et employeur.</p>
				<ol start="2">
					<li>Nos services</li>
				</ol>
				<p>La Plateforme donne accès à différents types de services (le (s) Service (s)) qui sont tous soumis aux dispositions générales des présentes CGU. En outre, certains Services peuvent être soumis à des dispositions spécifiques applicables uniquement à un Service particulier. Ces dispositions figurent dans les dispositions spécifiques des présentes CGU.</p>
				<ol start="3">
					<li>Création de votre compte</li>
				</ol>
				<p>Pour utiliser l’un des Services de la Plateforme gtrouver, l’Utilisateur doit d’abord créer un compte sur la Plateforme en fournissant les informations demandées et en choisissant ses identifiants personnels. Il s’engage à fournir des informations exactes et à les modifier en cas de changement affectant lesdites informations (déménagement, changement d’adresse email ou téléphonique, etc.).</p>
				<ol start="4">
					<li>Responsabilité</li>
				</ol>
				<p>Lorsque gtrouver met en relation l’Utilisateur avec un autre Utilisateur, qu’il soit consommateur ou professionnel ou partenaire, gtrouver n’est en aucun cas garant ou responsable de quelque manière que ce soit du respect de ses obligations vis-à-vis de l’Utilisateur. .</p>
				<p>gtrouver n’est tenu que par une obligation de moyens pour assurer le bon fonctionnement des Services et / ou de sa Plateforme, et démontre donc ses meilleurs efforts à cet égard. gtrouver ne saurait donc être tenu responsable de tout dysfonctionnement de la Plateforme et / ou des Autres Services, de la perte de données subie par l’Utilisateur, de l’intrusion dans ses bases de données, ou d’une manière générale de toute faille de sécurité. dans ses systèmes informatiques.</p>
				<p>En tout état de cause, gtrouver ne peut être tenu responsable des défaillances de ses partenaires, Utilisateurs ou de tout tiers intervenant dans la fourniture d’un Service tel que par exemple les hébergeurs, les fournisseurs de services de communications électroniques, les transporteurs, etc.</p>
				<p>Si la responsabilité de gtrouver était toutefois engagée, le montant des dommages et intérêts auxquels elle pourrait être condamnée ne pourra excéder cinq cents euros.</p>
				<ol start="5">
					<li>Obligations des utilisateurs</li>
				</ol>
				<p>L’Utilisateur s’engage à n’utiliser la Plateforme et le Service qu’à des fins personnelles conformément à l’objet des Services proposés. En aucun cas, un Utilisateur ne peut utiliser le Site, la Plateforme et / ou tout Service, à d’autres fins.</p>
				<p>Dans tous les cas, l’Utilisateur choisit librement ses identifiants (login et mot de passe notamment) et veille à leur confidentialité et sécurité. Il leur appartient de ne pas les divulguer à des tiers et de se déconnecter de leur compte après chaque connexion à la Plateforme, lorsqu’ils se connectent à des équipements (ordinateur, smartphone, tablette, etc.) qui ne leur appartiennent pas ou dont l’utilisation est partagée. . En cas de vol de ses identifiants ou de toute atteinte à leur sécurité, l’Utilisateur en informe immédiatement gtrouver à l’adresse
					<strong>
						<a href="mailto:contact@gtrouver.com">contact@gtrouver.com</a>
					</strong>
					et les modifie sans délai.</p>
				<p>L’Utilisateur doit prendre les mesures appropriées pour protéger ses propres données, matériels et logiciels de la contamination par d’éventuels virus ou de toute intrusion lors de sa connexion à la Plateforme gtrouver.</p>
				<ol start="6">
					<li>Propriété intellectuelle</li>
				</ol>
				<p>La Plateforme, le nom, les bases de données gtrouver ainsi que tout logo, image, élément graphique ou sonore, vidéo, logiciel, algorithme, texte sont protégés par des droits de propriété intellectuelle tels que droits d’auteur, marques, dessins et modèles. et modèles ou droit sui generis des bases de données et l’utilisation du Site, du Service et / ou de la Plateforme n’implique aucune cession desdits droits et aucune reproduction, représentation, extraction, réutilisation, notamment des annonces non autorisées par écrit , entre dans le cadre des actes de contrefaçon et expose son auteur à des poursuites civiles ou pénales et au paiement de dommages et intérêts.</p>
				<p>gtrouver accorde à l’Utilisateur une licence d’utilisation strictement limitée à l’accès et à l’utilisation personnelle des Services de la Plateforme pour son usage personnel. Il est interdit à l’Utilisateur de reconstituer en tout ou en partie ou d’aider un tiers à reconstituer tout ou partie du Site et / ou de la Plateforme et / ou de leurs éléments, notamment dans le but d’offrir des services comparables au Service.</p>
				<ol start="7">
					<li>Confidentialité et protection des données personnelles</li>
				</ol>
				<p>Dans le cadre de l’utilisation des Services et / ou de la Plateforme, gtrouver collecte et traite certaines données personnelles de ses Utilisateurs. En utilisant la Plateforme et / ou les Services, les Utilisateurs reconnaissent et acceptent le traitement de leurs données personnelles par gtrouver conformément à sa politique de confidentialité accessible via le lien suivant:
					<strong>
						<a href="https://gtrouver.com/fr/confidentiality">www.gtrouver.com/fr/confidentiality</a>
					</strong>
				</p>
				<ol start="8">
					<li>Loi applicable et juridiction compétente</li>
				</ol>
				<p>Sauf disposition contraire, les présentes CGU et les opérations qui en découlent sont soumises au droit français et tout litige relatif aux CGU sera soumis à la compétence des tribunaux français.</p>
				<p>L’Utilisateur, lorsqu’il agit en tant que consommateur, a également la possibilité de recourir à une procédure de médiation, conformément aux articles L.611-1 et suivants. Du Code de la Consommation, en cas de litige relatif aux CGU, et ce tout à fait gratuitement et sans renoncer à la possibilité d’une action en justice. À cet égard, gtrouver a rejoint les services de médiation de la Fédération du commerce électronique et de la vente à distance (FEVAD), dont les coordonnées et les procédures de saisine se trouvent ci-dessous:</p>
				<p>
					<strong>
						<a href="http://www.mediateurfevad.fr/index.php/espace-consommateur">www.mediateurfevad.fr/index.php/espace-consommateur</a>
					</strong>
				</p>
				<p>En outre, conformément aux dispositions de l’article 14 du règlement (UE) 524/2013, la Commission européenne met à disposition une plateforme de règlement des litiges de consommation en ligne, accessible via le lien
					<strong>
						<a href="http://ec.europa.eu/consumers/odr">www.ec.europa.eu/consumers/odr</a>
					</strong>
				</p>
				<p>Dispositions particulières applicables au service gtrouver dédié aux objets trouvés ou perdus</p>
				<ol>
					<li>Description du service de gestion des objets perdus / trouvés:</li>
				</ol>
				<p>gtrouver propose un Service (le «Service Objets trouvés») destiné à augmenter via une Plateforme de Contact (la «Plateforme») les chances de mettre en relation une personne qui a perdu un objet (la «Tête en l’air») et une personne qui a trouvé un objet perdu (le «gtrouvereur»). Un autre objectif du service des objets trouvés est d’aider les Heads in the Air à remplacer un objet perdu qu’ils ne peuvent pas trouver et à prévenir la perte d’objets en leur fournissant tous les moyens et en réduisant le risque.</p>
				<p>L’utilisation de la Plateforme ne vous dispense pas d’effectuer les diligences nécessaires auprès de certains services publics (comme par exemple une déclaration de perte ou de vol de documents administratifs) et / ou privés (comme par exemple une opposition sur une carte bancaire une déclaration à votre assureur, etc.).</p>
				<p>La Plateforme permet notamment:</p>
				<p>• L’affichage d’annonces concernant des objets trouvés ou perdus;</p>
				<p>• L’échange de messages privés entre «Heads in the Air» et gtrouvereurs via un système de messagerie et une interface d’authentification («match interface»);</p>
				<p>• En cas de correspondance entre un objet perdu et trouvé (le «Match»), la mise en relation du «Head in the Air» et du gtrouvereur selon les modalités fixées par la Plateforme;</p>
				<p>• En cas de Match, l’envoi par les partenaires de gtrouver de l’objet trouvé à l’adresse choisie par le «Head in the Air» si ce dernier en fait la demande; et…</p>
				<p>• Mettre la «Tête en l’air» en relation avec des professionnels susceptibles de l’aider dans ses démarches, que ce soit pour éviter la perte d’objets, pour l’aider à retrouver ses objets perdus ou à les remplacer.</p>
				<ol start="2">
					<li>Prix du service des objets trouvés:</li>
				</ol>
				<p>La création d’un compte Utilisateur sur la Plateforme ainsi que l’affichage d’une publicité concernant un objet retrouvé ou perdu par un Head in the Air ou un gtrouvereur sont gratuits pour les consommateurs. Pour les professionnels, le Prix est fixé par leur contrat les liant à gtrouver.</p>
				<p>Cependant, la Plateforme propose aux Utilisateurs plusieurs services supplémentaires payants, comme la mise en relation avec des professionnels dans le cadre de la démarche Head in the Air, ou l’envoi de l’objet trouvé à l’adresse choisie le Head in the Air. Chacun de ces services annexes sera soumis à des conditions supplémentaires et spécifiques.</p>
				<p>Enfin, si l’objet perdu a été déposé auprès d’un service public de gestion des objets perdus et trouvés, Head in the Air pourra être amené à payer des frais conformément à la réglementation en vigueur, tels que des frais de garde.</p>
				<p>Les Autres Services sont gratuits pour l’Utilisateur sauf indication contraire sur la Plateforme lors de l’accès audit Autre Service.</p>
				<ol start="3">
					<li>Le mécanisme de récompense applicable au service des objets trouvés</li>
				</ol>
				<p>En cas de Match, un bon pourra être offert au gtrouvereur (la «Récompense»), comme décrit ci-dessous une fois que la Plateforme aura intégré cette fonctionnalité.</p>
				<p>Lorsqu’il met une publicité en ligne, Head in the Air fixera le montant de la récompense qui lui est associée. En cas de Match, Head in the Air paiera une somme d’argent via la Plateforme (d’un montant total égal à la Récompense et aux frais de gestion de gtrouver). Après confirmation du Head in the Air reçu via la Plateforme que l’objet trouvé par le gtrouvereur a été livré au Head in the Air, et après déduction des frais de gestion par gtrouver, le solde est restitué au gtrouvereur sous forme de Bon achat.</p>
				<p>Le seul but de la Récompense est de remercier le gtrouvereur pour ses efforts, et il peut y renoncer librement, auquel cas gtrouver peut conserver le montant pour couvrir ses frais de gestion et améliorer sa plateforme.</p>
				<ol start="4">
					<li>La responsabilité particulière du service des objets trouvés:</li>
				</ol>
				<p>gtrouver a développé des outils permettant la connexion entre les personnes qui ont perdu un objet et celles qui ont retrouvé un objet perdu, et propose ainsi un Service qui est uniquement destiné à faciliter cette connexion. En aucun cas, ces outils et ce Service ne peuvent décharger les Utilisateurs du Site et / ou du Service et / ou de la Plateforme de leurs responsabilités respectives. Ainsi, seul l’Utilisateur est responsable du contenu d’une publicité et gtrouver n’assure pas sa vérification. Par conséquent, gtrouver n’assume aucune responsabilité pour tout contenu inexact, faux, inapproprié ou même illégal qu’un Utilisateur pourrait inclure dans une publicité ou en général sur la Plateforme et / ou le Site.</p>
				<p>gtrouver a implémenté un algorithme qui a pour fonction de permettre le Match entre les annonces d’objets déclarés perdus et ceux déclarés trouvés, mais la fiabilité d’un tel outil ne peut être garantie. Par conséquent, gtrouver ne saurait être tenu pour responsable en cas d’erreur dans la correspondance entre une annonce d’objet perdu et une annonce d’objet trouvé, et il appartient à l’Utilisateur de vérifier le bien-fondé de cette correspondance par tout moyen approprié. Pour aider les Utilisateurs dans cette tâche, gtrouver fournit des conseils en ligne, notamment sous forme de questions qui peuvent être posées avant de renvoyer un objet, et qui sont le fruit de son expérience et de celle des Utilisateurs. Ces astuces sont disponibles dans sa ** FAQ **, la gtrouver Academy (tutoriels vidéos) et sur son blog.</p>
				<p>gtrouver n’intervient pas dans la conservation et la restitution des objets et ne saurait donc être tenu responsable de l’état de conservation des objets ou de toute détérioration de ceux-ci.</p>
				<ol start="4">
					<li>Modération et retrait des annonces:</li>
				</ol>
				<p>Afin d’assurer la sécurité des Utilisateurs du Site et de préserver l’image du Site, gtrouver se réserve le droit de modérer le contenu des publicités pour les objets trouvés ou perdus, notamment en supprimant temporairement ou définitivement tout ou partie du contenu du site. 'une annonce qui:</p>
				<p>• Contient des éléments d’identification susceptibles d’affecter la sécurité d’un Utilisateur;</p>
				<p>• Contient des éléments d’identification qui ne sont pas conformes à la réglementation GDPR (par exemple: numéro de sécurité sociale, données sur la race, l’origine ethnique, l’opinion politique, l’appartenance à un syndicat, les croyances religieuses ou philosophiques, l’orientation sexuelle ou les données de santé);</p>
				<p>• violerait les lois et règlements en vigueur ou les CGU;</p>
				<p>• Est soupçonné d’être d’origine frauduleuse;</p>
				<p>• Pourrait concerner un objet inexistant qui est illégal, immoral ou offensant à l’image du Site; ou qui</p>
				<p>• Aurait été affiché il y a plus de 12 mois.</p>
				<p>De plus, en présence d’un comportement de l’Utilisateur ou d’une publicité qu’il juge suspecte ou frauduleuse, gtrouver se réserve le droit de (i) supprimer l’annonce du Site, (ii) fermer immédiatement le compte à l’origine de l’annonce et / ou le comportement en question, et (iii) dénoncer les actes frauduleux constatés ou suspectés auprès des services de police ou de gendarmerie.</p>
				<p>gtrouver fera ses meilleurs efforts pour assurer la modération des publicités, mais elle ne pourra être tenue pour responsable de tout contenu ayant échappé à sa surveillance et s’appuie sur la coopération des Utilisateurs pour signaler tout contenu indésirable qu’ils observent.</p>
				<ol start="5">
					<li>Obligations de l’utilisateur du service des objets trouvés:</li>
				</ol>
				<p>L’Utilisateur du Service Objets trouvés s’engage à ne faire aucune utilisation frauduleuse de la Plateforme, telle que notamment la mise en ligne de faux objets trouvés, la déclaration de perte d’un objet illégalement acquis, la déclaration d’objet faussement perdu. ou toute tentative de réception d’un objet qui ne lui appartient pas ou la réservation de créneaux d’entrée dans des magasins en nombre excessif ou pour des tiers. Un tel comportement constituerait d’une part une violation des présentes CGU et d’autre part une infraction pénale l’exposant à des poursuites judiciaires. De plus, tout Utilisateur est autorisé à signaler à gtrouver toute publicité ou tout comportement d’autres Utilisateurs qu’il juge suspect ou frauduleux, via notre adresse e-mail
					<strong>
						<a href="mailto:contact@gtrouver.com">contact@gtrouver.com</a>
					</strong>.</p>
				<p>L’Utilisateur du Service Objets trouvés s’engage à retirer immédiatement toute publicité qu’il a mise en ligne pour un objet perdu qu’il a trouvé ou pour lequel l’annonce est obsolète (par exemple dans le cas d’une carte bancaire qui aurait été désactivée suite à sa déclaration de perte à la banque, etc.) ou pour un objet trouvé qu’il aurait rendu à son propriétaire.</p>
				<p>L’Utilisateur du Service Objets trouvés s’engage à (i) tenir à jour ses publicités, notamment dans le cas d’un objet trouvé qu’il ne déteint plus pour assurer le suivi de son dépôt auprès d’un tiers ou gérant du service public. les objets trouvés, ainsi que (ii) fournir autant de détails que possible sur l’objet perdu ou retrouvé pour faciliter le match.</p>
				<p>En publiant une publicité pour le Service Objets trouvés, l’Utilisateur accorde à gtrouver une licence d’utilisation, gratuite et transférable, sur tout contenu que l’Utilisateur peut être amené à fournir dans le cadre de l’utilisation du Service et / ou de la Plateforme. Cette licence comprend un droit de duplication, d’accès, de conservation, de transmission et / ou de distribution au public, et notamment via les réseaux sociaux utilisés ou non par l’Utilisateur.</p>
				<p>L’Utilisateur garantit à gtrouver que les publicités qu’il publie ne pourront en aucun cas constituer une contrefaçon des droits de propriété intellectuelle d’un tiers. Si gtrouver est poursuivi ou condamné à la suite d’un acte de contrefaçon commis par un Utilisateur, ce dernier supportera tous les frais facturés à gtrouver, y compris les frais de sa défense.</p>
				<p>Dispositions particulières applicables au service gtrouver Ton Créneau (TTC)</p>
				<ol>
					<li>Description du service gtrouver Ton Créneau:</li>
				</ol>
				<p>gtrouver vous propose le Service gtrouver Ton Créneau, un service de prise de rendez-vous permettant de réserver une journée et une heure pour visiter une entreprise qui utilise elle-même gtrouver pour recevoir ses clients sur rendez-vous (ci-après le «Service TTC»).</p>
				<p>Ce service ne peut en aucun cas garantir l’entrée dans le commerce qui dépend du seul commerçant.</p>
				<ol start="2">
					<li>Prix du Service TTC:</li>
				</ol>
				<p>La création d’un compte Utilisateur sur la Plateforme et l’utilisation du Service TTC est gratuit pour les consommateurs. Pour les professionnels, le Prix est fixé par leur contrat les liant à gtrouver.</p>
				<ol start="3">
					<li>Responsabilité spéciale pour le service TTC:</li>
				</ol>
				<p>gtrouver met son Site et sa Plateforme à disposition des Utilisateurs et commerçants pour permettre à leurs clients de réserver des plages horaires dans le respect de la réglementation applicable à l’ouverture de leurs commerces au public.</p>
				<p>En aucun cas gtrouver ne pourra être tenu responsable du respect par ces entreprises de leurs obligations envers le public ou du fait que l’Utilisateur sera accueilli conformément à sa réservation, que le commerçant annule la réservation ou soit indisponible pour recevoir la réservation. «L’utilisateur ou même lui refuse l’entrée dans son entreprise.</p>
				<ol start="4">
					<li>Obligations de l’utilisateur du service TTC:</li>
				</ol>
				<p>L’Utilisateur du Service TTC reconnaît que la prise de rendez-vous par lui constitue un engagement ferme de sa part et il s’engage à ne faire aucune réservation d’un rendez-vous dans un commerce auquel il ne pourrait se rendre et à annuler immédiatement toute réservation pour laquelle il est plus disponible.</p>
				<p>Il s’interdit également de céder ses réservations à des tiers à titre gratuit ou contre rémunération. L’Utilisateur qui n’honore pas les rendez-vous pris peut voir son compte bloqué à partir du deuxième rendez-vous non honoré.</p>
			</div>


		</div>
	</div>


</section>{% endblock %}
