{% extends 'base.html.twig' %}


{% block title %} politique de confidentialité
{% endblock %}


{% block body %}
	<div class="row d-flex justify-content-center mt-5">
		<div class="col-md-11 ">
<div class="markdownParsed confidentiality" data-v-7e94a523=""><style>
td, th {
border: 1px solid grey
}
</style>
<p>Version du 09/08/2021</p>
<p>La présente politique de confidentialité a pour objet de détailler les conditions dans lesquelles la société gtrouver SAS recueille, exploite, conserve et protège des données à caractère personnel relatives aux utilisateurs du site internet <a href="https://www.gtrouver.com">https://www.gtrouver.com</a> (le “Site”), et plus généralement de détailler la relation contractuelle entre gtrouver et tout utilisateur du Site (l’Internaute).</p>
<p>Le site <a href="https://www.gtrouver.com">https://www.gtrouver.com</a> est exploité par gtrouver SAS, société de droit français immatriculée à Neuilly-Sur-Seine sous le numéro 834 337 370, et dont le siège social est situé 110 bd Bineau, 92200 Neuilly- Sur-Seine (ci-dessous « gtrouver » ou « nous »).</p>
<p>Nous vous remercions de lire la présente Politique de Confidentialité avec attention afin de bien comprendre l’usage qui sera fait de vos données à caractère personnel lorsque vous utiliserez le Site.</p>
<p>Dans cette Politique de Confidentialité, l’expression “données à caractère personnel”, qui pourra être abrégée en “données personnelles“ a le sens défini à l’article 4 du RGPD. De même toutes les expressions que nous utilisons et qui sont définies par le RGPD on le sens qui figure dans ce Règlement.</p>
<p>Par votre utilisation du Site, vous acceptez le recueil et l’utilisation de vos données personnelles en conformité avec la présente Politique de Confidentialité.</p>
<p>Vous n’êtes jamais obligé de partager vos données personnelles mais, si vous choisissez de ne pas le faire, il est possible que nous ne puissions pas vous fournir certains services.</p>
<p>Nous nous réservons le droit de modifier cette Politique de Confidentialité de temps en temps, auquel cas une version modifiée de la Politique de Confidentialité sera postée sur le Site.</p>
<p>Cette Politique de Confidentialité a été mise à jour le 09/08/2021.</p>
<h4>1. Nature, utilisation des données collectées et durée de conservation</h4>
<p>Le responsable du traitement est, au sens du RGPD, la personne qui détermine les moyens et les finalités du traitement. Le sous-traitant est une personne traitant des données à caractère personnel pour le compte du responsable du traitement. Il agit sous l’autorité du responsable du traitement et sur instruction de celui-ci.<br>
En fonction des Données à caractère personnel traitées, gtrouver peut agir soit en qualité de Responsable de traitement soit de Sous-traitant de ses clients, professionnels.<br>
Ainsi gtrouver est Responsable de traitement des Données à caractère personnel des utilisateurs, collectées dans le cadre de la création et gestion du Compte Utilisateur, de leur navigation sur notre site et de leur utilisation des services. Les professionnels abonnés aux services de gtrouver peuvent eux-mêmes être Responsable de traitements, soit pour les données recueillies par leurs employés, soit pour les Données spécifiques (ex : ajout d’un champ dans le formulaire) qu’ils demandent à gtrouver de collecter pour leurs compte dans le cadre de l’utilisation de ses services. gtrouver intervient alors en tant que Sous-traitant.</p>
<h5>1.1 Nature des données collectées par gtrouver en qualité de responsable de traitement</h5>
<p>Dans le cadre de l’utilisation du Site, gtrouver est susceptible de collecter les catégories de données personnelles suivantes concernant les utilisateurs ou leurs proches pour lesquels les utilisateurs agissent :</p>
<ul>
<li>Nom</li>
<li>Prénom</li>
<li>Adresse Email</li>
<li>Téléphone</li>
<li>Photo de profil des Utilisateurs</li>
<li>Données de connexion (adresses IP, journaux d’événements…)</li>
<li>Pour son service de gestion des objets trouvés :</li>
<li>Liste d’objets perdus et/ou trouvés</li>
<li>Description des objets perdus et/ou trouvés (incluant photos)</li>
<li>Lieux et date de perte/trouvaille</li>
<li>Toute information que l’utilisateur du service pourrait souhaiter ajouter pour faciliter la recherche</li>
</ul>
<p>Les Internautes pourront désactiver leur compte personnel sur le Site à tout moment, mais gtrouver pourra alors conserver les informations nécessaires pour mettre en œuvre ses droits ou obligations contractuels, respecter ses obligations légales ou réglementaires et/ou résoudre un litige.<br>
Ni les utilisateurs, ni les clients professionnels de gtrouver, ni les équipes de gtrouver ne doivent renseigner d’informations sensibles au sens du RGPD sur la plateforme gtrouver.</p>
<p>Si vous nous contactez, nous pourrons conserver un enregistrement de cet échange, de vos nom et prénom et de de votre adresse e-mail.<br>
Nous pourrons, par le biais de cookies (voir ci-dessous) et/ou d’autres technologies similaires, conserver les information suivantes : des données relatives à vos visites sur le Site, incluant le type et la version du navigateur internet que vous utilisez; le type, le fabricant et le modèle de l’équipement informatique que vous utilisez; tout site web à partir duquel vous êtes arrivés sur le Site; votre adresse IP; le système d’exploitation de votre équipement informatique; des données de trafic; des données de localisation; les weblogs et autres données de communication, que ce soit pour nos propres besoins de facturation ou autres; et les ressources auxquelles vous accédez.</p>
<p>Nous pourrons également suivre votre utilisation du Site au moyen de cookies et/ou de dispositifs de suivi similaires.</p>
<p>Enfin, nous pourrons monitorer et/ou enregistrer nos communications avec vous, sur n’importe quel canal, à des fins de qualité, de formation, de détection de fraudes ou de conformité.</p>
<h5>1.2 Utilisation/finalités</h5>
<p>Les données personnelles fournies par les Internautes pourront être utilisées par gtrouver pour tout usage pour lequel vous aurez expressément opté pour ainsi que pour les finalités suivantes :</p>
<table>
<thead>
<tr>
<th style="text-align:center">Finalités - Pourquoi les Données à caractère personnel sont utilisées?</th>
<th style="text-align:center">Quelles sont les Données à caractère personnel utilisées ?</th>
<th style="text-align:center">Sur quelle base légale les Données à caractère personnel sont-elles traitées ?</th>
<th style="text-align:center">Combien de temps les Données à caractère personnel sont-elles conservées ?</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center">Gestion de comptes utilisateurs gtrouver/ authentification/ administration</td>
<td style="text-align:center">Pour chaque Utilisateur : Nom, prénom, numéro de téléphone, adresse email, mot de passe, données de connexion</td>
<td style="text-align:center">Nécessaire à la fourniture des services auquel la personne concernée est partie ou à l’exécution de mesures précontractuelles prise à la demande de celle-ci (acceptation des CGUs)</td>
</tr>
<tr>
<td style="text-align:center">Partage par les utilisateurs d’une annonce d’un objet perdu/trouvé</td>
<td style="text-align:center">Description de l’objet (photo comprise), lieu et date de perte, historique des objets et des actions</td>
<td style="text-align:center">Nécessaire à la fourniture des services auquel la personne concernée est partie ou à l’exécution de mesure précontractuelles, prise à la demande de celle-ci (acception des Conditions d’Utilisation)</td>
<td style="text-align:center">3 ans à compter du dernier objet partagé en cas d’inactivité du Compte Utilisateur OU jusqu’à demande de suppression de la part de l’Utilisateur</td>
</tr>


<tr>
<td style="text-align:center">Réalisation d’enquêtes marketing facultatives</td>
<td style="text-align:center">Dépend de la finalité de l’enquête (ex: satisfaction)</td>
<td style="text-align:center">Consentement</td>
<td style="text-align:center">Les réponses aux questionnaires sont conservées 4 semaines à compter de leur envoi à gtrouver, A l’issue de ce délai, les Données à caractère personnel sont anonymisées.</td>
</tr>
<tr>
<td style="text-align:center">Fourniture d’informations aux Utilisateurs de gtrouver (nouveau service, conseil pratique, modification d’un service…)</td>
<td style="text-align:center">Nom, prénom, téléphone, email, historique d’objet</td>
<td style="text-align:center">Intérêt légitime</td>
<td style="text-align:center">Jusqu’à suppression par l’Utilisateur de son compte gtrouver OU jusqu’à opposition.</td>
</tr>
<tr>
<td style="text-align:center">Utilisation du site / app de gtrouver</td>
<td style="text-align:center">Données de connexion, adresses IPs, matériel utilisé</td>
<td style="text-align:center">Intérêt légitime de gtrouver</td>
<td style="text-align:center">Pour les logs de connexion: 6 mois à compter du dernier rendez-vous pris ou objet partagé. Pour l’adresse IP : 1 an à compter du jour de l’enregistrement</td>
</tr>
<tr>
<td style="text-align:center">Prévention contre la fraude / spam, optimisation de l’expérience, renforcement de la sécurité</td>
<td style="text-align:center">Données de connexion, adresses Ips, matériel utilisé</td>
<td style="text-align:center">Intérêt légitime de gtrouver</td>
<td style="text-align:center">Pour les logs de connexion: 6 mois à compter du dernier rendez-vous pris ou objet partagé. Pour l’adresse IP : 1 an à compter du jour de l’enregistrement</td>
</tr>
<tr>
<td style="text-align:center">Support aux Utilisateurs (réponse à une question formulée, mot de passe oublié, suivi de livraison…)</td>
<td style="text-align:center">Nom, prénom, téléphone, email, données de connexion, adresses IPs, matériel utilisé, problème relevé / détail donné, historique des actions / objets/ rendez-vous</td>
<td style="text-align:center">Intérêt légitime de gtrouver</td>
<td style="text-align:center">3 ans à compter de la demande</td>
</tr>
</tbody>
</table>
<p>En cas de besoin, nous pourrons vous contacter par e-mail, téléphone, chat, SMS ou courrier postal.</p>
<p>En outre nous nous réservons d’utiliser vos données une fois anonymisées par exemple pour réaliser des statistiques ou des rapports sur l’utilisation de nos Services .</p>
<h4>2. Sécurité de vos données personnelles</h4>
<p>Chez gtrouver, nous savons que vos données personnelles sont précieuses et nous prenons en compte la protection des données et leur sécurité dès la conception de nos services. Nous mettons en œuvre toutes les mesures techniques et organisationnelles afin d’assurer la sécurité des traitements et la confidentialité des Données à caractère personnel. A ce titre, gtrouver prend toutes les précautions utiles, au regard de la nature des Données et des risques présentés par le traitement, afin d’en préserver la sécurité et notamment, d’empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès en particulier par le biais des précautions suivantes :</p>
<ul>
<li>Présence de clauses de confidentialité dans tous nos contrats de service avec des personnes physiques ou morales ayant accès à vos données personnelles ;</li>
<li>Accès à votre profil protégé par un identifiant et un mot de passe;</li>
<li>Données personnelles conservées sur des serveurs sécurisés;</li>
<li>Cryptage de vos données personnelles durant leur transport via le protocole https.</li>
</ul>
<p>Malgré nos efforts, la transmission d’informations sur Internet n’est jamais totalement sûre, si bien que nous ne pouvons garantir la sécurité de vos données personnelles qui sont transmises à vos risques et périls.<br>
L’ensemble des données de gtrouver sont hébergées au sein de l’Union Européenne.</p>
<h4>3. Communication de vos données personnelles à des tiers</h4>
<p>gtrouver pourra être amené à divulguer vos données personnelles en application d’une loi, d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente. De manière générale, nous nous engageons à nous conformer à toutes les règles légales qui pourraient empêcher, limiter ou réglementer la diffusion d’informations ou de données et notamment à nous conformer à la Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés et au RGPD.</p>
<p>Dans le cadre des services fournis, nous pourrons également être amenés à communiquer vos données personnelles à :</p>
<ul>
<li>Toute société de notre groupe, une société de notre groupe étant définie comme une société contrôlant gtrouver, contrôlée par gtrouver ou sous le même contrôle que gtrouver au sens de l’article L.233-3 du Code de Commerce;</li>
<li>Nos salariés, agents, partenaires et prestataires de services tels que nos hébergeurs dans le cadre de la fourniture des services</li>
<li>Nos Clients professionnels avec qui vous entrez en relation en utilisant nos services</li>
<li>Nos partenaires commerciaux si vous avez consenti à être contacté par eux à des fins commerciales, ces partenaires pouvant être les clients de gtrouver tels que ceux avec lesquels vous avez-vous-même été en contact ( par exemple les magasins visités par vous qui vous ont conduit à utiliser nos Services) ou d’autres professionnels qui pourraient vous proposer des biens ou services .</li>
</ul>
<p>Enfin, dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles et à vous informer avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de confidentialité.</p>
<h4>4. Liens vers des sites tiers</h4>
<p>Dans l’hypothèse où le Site contiendrait des liens vers des sites tiers, ceux-ci seraient fournis à titre informatif uniquement, sans que gtrouver ne garantisse ni leur contenu ni leur disponibilité. Par ailleurs, la navigation sur ces sites tiers serait soumise aux conditions d’utilisation et à la politique de confidentialité desdits sites tiers, et gtrouver ne saurait être considéré responsable du sort des données personnelles que l’Internaute serait amené à communiquer auxdits sites tiers.</p>
<h4>5. Vos droits</h4>
<p>En vertu du RGPD, vous disposez d’un certain nombre de droits en lien avec la collecte et le traitement de vos données personnelles.</p>
<h5>5.1 Droit à l’information</h5>
<p>Vous avez le droit d’être informé sur la collecte et l’utilisation de vos données personnelles, ce qui constitue l’objet même de la présente Politique de Confidentialité.</p>
<h5>5.2 Droits d’accès</h5>
<p>Vous avez le droit d’accéder aux données personnelles que nous pouvons détenir à votre sujet. Afin d’exercer ce droit pour les données personnelles non disponibles directement lorsque vous vous connectez à votre compte sur le Site, vous devrez :</p>
<ul>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifier les données personnelles auxquelles vous souhaitez avoir accès.</li>
</ul>
<h5>5.3 Droit de rectification</h5>
<p>Vous avez le droit de faire rectifier les données personnelles que nous détenons sur vous si elles sont inexactes ou incomplètes. Afin d’exercer ce droit pour les données personnelles non modifiables directement lorsque vous vous connectez à votre compte sur le Site, vous devrez:</p>
<ul>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifier les données personnelles que vous souhaitez rectifier.</li>
</ul>
<h5>5.4 Droit à l’effacement ou droit à l’oubli</h5>
<p>Dans certains cas, vous avez le droit de demander l’effacement de vos données personnelles lorsqu’il n’existe aucune raison impérieuse justifiant de continuer leur traitement.<br>
Ce droit n’est toutefois pas absolu et ne s’applique que dans les situations suivantes :</p>
<ul>
<li>Lorsque les données personnelles ne sont plus nécessaires à la poursuite des finalités pour lesquelles elles ont été initialement collectées ou traitées;</li>
<li>Lorsque les données personnelles ont été collectées et traitées sur la base de votre consentement et que vous décidez de retirer ce consentement;</li>
<li>Lorsque le traitement est fondé sur des intérêts légitimes et qu’il n’y a plus d’intérêt légitime justifiant la poursuite du traitement;</li>
<li>Lorsque les données personnelles sont traitées à des fins de marketing direct et que vous vous opposez à ce traitement;</li>
<li>Lorsque les données personnelles sont traitées illégalement;</li>
<li>Lorsque nous devons procéder à un tel effacement afin de respecter une obligation légale; ou</li>
<li>Lorsque les données personnelles ont été traitées pour offrir des services de la société de l’information à un enfant.<br>
Dans l’hypothèse où ce droit à l’effacement s’appliquerait, vous devez faire ce qui suit pour exercer ce droit :</li>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifier les données personnelles que vous souhaitez que nous effacions.</li>
</ul>
<h5>5.5 Droit de restreindre le traitement</h5>
<p>Vous avez le droit de faire bloquer ou de supprimer le traitement de vos données personnelles pour le futur, dans certaines conditions décrites à l’article 18 du RGPD.</p>
<p>Pour exercer ce droit, vous devrez :</p>
<ul>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifiez les données personnelles ou le traitement que vous souhaitez restreindre.</li>
</ul>
<h5>5.6 Droit à la portabilité de vos données personnelles</h5>
<p>Vous avez le droit d’obtenir et de réutiliser les données personnelles que nous détenons à votre sujet, à des fins personnelles pour différents services.</p>
<p>Pour exercer ce droit, vous devrez :</p>
<ul>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifier les données personnelles dont vous souhaitez obtenir le portage.</li>
</ul>
<h5>5.7 Droit d’opposition</h5>
<p>Vous avez le droit de vous opposer à :</p>
<ul>
<li>Un traitement fondé sur des intérêts légitimes ou l’exécution d’une tâche d’intérêt public / l’exercice de l’autorité publique (y compris pour le profilage);</li>
<li>Le marketing direct (y compris pour le profilage); ou</li>
<li>Un traitement à des fins de recherche scientifique, historique ou de statistiques.</li>
<li>Pour exercer ce droit, vous devrez :</li>
<li>Formuler cette demande par écrit;</li>
<li>Y joindre une preuve d’identité et d’adresse; et</li>
<li>Spécifier le traitement auquel vous voulez vous opposer.</li>
</ul>
<h4>6. Modification de cette Politique de Confidentialité</h4>
<p>Toute modification que nous pourrions être amenés à apporter à notre Politique de Confidentialité sera postée sur cette page et pourra, le cas échéant, vous être notifiée par e-mail.</p>
<p>Il vous appartient de consulter régulièrement notre Politique de Confidentialité afin de vous assurer que vous connaissez sa version la plus récente, car il s’agit de la dernière version disponible de cette Politique de Confidentialité qui s’applique chaque fois que vous accédez au Site.</p>
<h4>7. Contact</h4>
<p>Pour toute question au sujet de cette Politique de Confidentialité ou pour exercer l’un de vos droits décrits l’article 5 ci-dessus, veuillez nous contacter par email à <a href="mailto:contact.rgpd@gtrouver.com">contact.rgpd@gtrouver.com</a> .</p>
<h4>8.Cookies</h4>
<p>Lorsque vous interagissez avec le Site, nous faisons tout notre possible pour rendre cette expérience simple et agréable. A cette fin, quand vous naviguez sur le Site, un serveur Web envoie un cookie ou un autre outil similaire sur votre équipement informatique.</p>
<p>Les cookies sont de petits éléments d’information qui sont envoyés sur votre équipement informatique lorsque vous naviguez sur un site web et que vous stockez sur cet équipement. Un certain nombre des cookies que nous utilisons ne durent que pendant la durée de votre session web et expirent lorsque vous fermez votre navigateur. D’autres cookies sont utilisés pour se souvenir de vous lorsque vous revenez sur le Site et durent plus longtemps.</p>
<p>Toutefois et conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l’Internaute, tout comme la durée de la validité du consentement de l’Internaute à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Internaute devra donc être renouvelé à l’issue de ce délai.</p>
<p>Nous utilisons des cookies et/ou d’autres outils similaires (tels que des codes Pixel ou des in-app IDs) pour les finalités suivantes :</p>
<h5>8.1 Cookies strictement nécessaires</h5>
<ul>
<li>Vous permettre de naviguer sur le Site;</li>
<li>Gérer votre session de connexion afin que vous puissiez passer facilement d’une page à une autre sur le Site et que vos demandes de pages soient chargées de manière fluide et sécurisée.</li>
</ul>
<h5>8.2 Qualité</h5>
<ul>
<li>Collecter des informations statistiques anonymes sur l’utilisation du Site (incluant le temps passé sur le Site) et d’où vous arrivez sur le Site, afin d’améliorer le Site et d’apprendre quelles parties et quelles fonctions du Site sont les plus populaires auprès des Internautes;</li>
<li>Nous souvenir que vous êtes déjà venu sur le Site. Cela nous permet à la fois d’identifier le nombre de visiteurs uniques que nous recevons et de nous assurer que nous avons assez de capacité pour le nombre d’Internautes que nous recevons.</li>
</ul>
<h5>8.3 Fonctionnalités</h5>
<ul>
<li>Savoir si vous êtes déjà venu sur le Site;</li>
<li>Vous connecter automatiquement à votre compte sur le Site lorsque vous vous êtes déjà connecté auparavant;</li>
<li>Prévenir et détecter les fraudes éventuelles;</li>
<li>Personnaliser des éléments de la mise en page et/ou du contenu sur le Site afin d’améliorer votre expérience.</li>
</ul>
<h5>8.4 Autres</h5>
<ul>
<li>Réaliser des recherches et des analyses statistiques en rapport avec votre navigation sur le Site.</li>
<li>Nous pourrons stocker des informations vous concernant à l’aide de cookies auxquels nous pourrons accéder lorsque vous retournerez sur le Site.</li>
<li>Les cookies ne contiennent généralement pas de données personnelles, mais ils peuvent inclure le type et la version du navigateur Internet que vous utilisez, le type, le fabricant et le modèle de l’équipement informatique que vous utilisez, le site web depuis lequel vous êtes arrivé sur le Site, votre adresse IP, le système d’exploitation de votre équipement informatique et des informations relatives à votre connexion Internet.</li>
<li>Si vous souhaitez supprimer les cookies qui se trouvent déjà sur votre appareil, veuillez-vous reporter aux instructions de votre logiciel de gestion de fichiers pour localiser le fichier ou le répertoire qui stocke les cookies.</li>
<li>De plus amples informations sur la suppression ou le contrôle des cookies sont disponibles sur <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>. Veuillez noter qu’en supprimant nos cookies ou en les désactivant pour le futur, vous prenez le risque de ne pas pouvoir accéder à certaines zones ou fonctionnalités du Site.</li>
<li>Nous travaillons avec un certain nombre de prestataires externes qui pourront également publier des cookies sur le Site, tels que :</li>
<li>Google Analytics;</li>
<li>Google AdWords; et</li>
<li>Google Maps</li>
</ul>
<p>Cette liste pourra évoluer dans le futur, auquel cas cette Politique de Confidentialité sera mise à jour en conséquence.<br>
Ces prestataires externes sont responsables des cookies qu’ils postent sur le Site et, pour plus d’informations sur ces cookies, vous devez vous référer à leurs politiques de confidentialité spécifiques : <a href="http://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a></p>
<h5>NOUS CONTACTER</h5>
<p>Tout Utilisateur a la possibilité d’adresser ses questions ou réclamations concernant le respect par gtrouver de la présente Politique, ou de faire part à gtrouver de recommandations ou des commentaires visant à améliorer la qualité de la présente Politique, l’Utilisateur peut contacter gtrouver par écrit à l’adresse suivante : gtrouver 110 boulevard Bineau 92 200 Neuilly-sur-Seine ou à l’adresse email : <a href="mailto:contact.rgpd@gtrouver.com">contact.rgpd@gtrouver.com</a></p>
</div>

		</div>
	</div>


</section>{% endblock %}
