{% extends 'base.html.twig' %}


{% block title %}Home
{% endblock %}

{% block body %}


	<section class="bg-light ">
		<div
			class="container">
			<!-- la class container définit la largeur souhaitée pour la section -->
			<div class="row  align-items-center vh-100">
				<div
					class="col-md-6 ">
					<!-- la class col-md-6 : permet de dire au navigateur que cette div occupera la moitié de l'espace disponible 12/2 à partir de l'écran medium et plus (lg - xl - xxl) en dessous de md (sm et xs : la div occupera la totalité de l'espace disponible 12/12) -->

					<h4 class="lh-lg py-3 divv">
						<em>Vous avez perdu ou trouvé un objet ? Déclarez-le et la communauté se mobilise pour vous aider à le retrouver
						</em>
					</h4>
					<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start text-dark">
						<a class="btn btn-primary btn-lg px-4 me-sm-3 text-dark" href="{{path('app_annonce_adloser')}} " id="hello">Declarer un objet</a>
						<a class="btn btn-outline-light  border btn-lg px-4 text-dark " href="#dernieres-nouvelles" id="hello">Encore plus</a>
					</div>
				</div>
				<div class=" col-md-6 ">
					<img class="img-fluid  mt-3" src="{{ asset('images/cc1.jpg')}}" alt="Gtrouver">
				</div>
			</div>
		</div>
	</section>



	<Section class="bg-white  ">
		<div class="container text-center pt-5">
			<div class="row gx-5">
				<div class="col-12">
					<h2 class=" w-50 border-3 mt-5 mx-auto">comment ca marche!</h2>
				</div>
				<div class="row d-flex justify-content-center">

					<div id="carouselExampleDark" class=" col carousel carousel-dark slide m-3 p-3 " data-bs-ride="carousel">

						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner  m-4  p-4">
							<div class="carousel-item active ">
								<div class="row d-flex justify-content-center">
									<div class="col-md-6 py-4 text-center">
										<h1>1<i class="fa-solid fa-list"></i>
										</h1>
										<h2 class="fs-4 fw-bold">Déclarez un objet perdu ou un objet trouvé</h2>
										<p class="mb-0">Remplissez le formulaire de déclaration en donnant un maximum de détails (sur le lieu de perte, le type de l’objet, sa description) pour aider l’algorithme à l’identifier rapidement</p>
									</div>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="8000">
								<div class="row d-flex justify-content-center">
									<div class="col-md-6 py-4 text-center">
										<h1>2<i class="fa-solid fa-user-shield"></i>
										</h1>
										<h2 class="fs-4 fw-bold">Prouvez la propriété de votre objet</h2>
										<p class="mb-0">Une fois l’objet perdu « matché », prouvez qui vous êtes grâce à une question de sécurité (ex : décrivez la coque de votre téléphone, …). Ainsi, notre partenaire qui a retrouvé cet objet pourra valider sereinement qu’il s’agit de votre objet.</p>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="row d-flex justify-content-center">
									<div class="col-md-6 py-4 text-center">
										<h1>3<i class="fa-solid fa-handshake"></i>
										</h1>
										<h2 class="fs-4 fw-bold">Récupérez-le !</h2>
										<p class="mb-0">Dès que vous êtes authentifié, vous recevez les informations pour passer le récupérer</p>
									</div>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>

	</Section>

	<section class="py-5 bg-dark">
		<div class="container px-5 my-5">
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-10 col-xl-7">
					<div class="text-center">
						<div class="fs-4 mb-4 fst-italic text-white">"Parce que certains objets ont une grande valeur a vos yeux , nous mettons tout en oeuvre pour vous les restituer!"</div>
						<div class="d-flex align-items-center justify-content-center">
							<img class="rounded-circle me-3 w-25 mh-100" src="{{ asset('images/imagesprofil.jpg') }}" alt="..."/>
							<div class="fw-bold text-white ">
								alla abdelaziz
								<span class="fw-bold text-primary mx-1 text-white">/</span>
								CEO, Gtrouver
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section  class='container bg-light'>
		<h2 class="text-center  w-25 border-3 pb-3 my-5 mx-auto ">Contact</h2>
		<!-- Intégration d'un formulaire avec Bootstrap -->
		<form class="w-50 mx-auto">
			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Last Name</label>
				<input type="text" class="form-control" id="formGroupExampleInput">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">First Name</label>
				<input type="text" class="form-control" id="formGroupExampleInput2">
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Message</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</section>


{% endblock %}
