{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}
	<header class="bg-light py-3">
		<div class="container pb-5">
			<div class="row gx-5 align-items-center justify-content-center">
				<div class="col-lg-8 col-xl-7 col-xxl-6">
					<div class="my-5  text-xl-start" id="hello">
						<div class="fs-4 mb-4  text-dark title divv ">Vous avez perdu ou trouvé un objet ? Déclarez-le et la communauté se mobilise pour vous aider à le retrouver</div>

						<p class="lead fw-normal text-dark-50 mb-4 test-start text-center"></p>
						<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start text-dark">
							<a class="btn btn-primary btn-lg px-4 me-sm-3 text-dark" href="{{path('app_annonce_adloser')}} " id="hello">Declarer un objet</a>
							<a class="btn btn-outline-light  border btn-lg px-4 text-dark " href="#dernieres-nouvelles" id="hello">Encore plus</a>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center" id="hello"><img class="img-fluid rounded-3 my-5" src="{{ asset('images/cc1.jpg')}}" alt="..."/></div>
			</div>
		</div>
	</header>
	<!-- Testimonial section-->
	<div class="py-5 bg-dark">
		<div class="container px-5 my-5">
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-10 col-xl-7">
					<div class="text-center">
						<div class="fs-4 mb-4 fst-italic text-white">"Parce que certains objets ont une grande valeur a vos yeux , nous mettons tout en oeuvre pour vous les restituer!"</div>
						<div class="d-flex align-items-center justify-content-center">
							<img class="rounded-circle me-3 w-25 mh-100" src="{{ asset('images/imagesprofil.jpg') }}" alt="..."/>
							<div class="fw-bold text-white ">
								alla abdelaziz
								<span class="fw-bold text-primary mx-1 text-white">/</span>
								CEO, Gtrouver
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Content-->
	<section class=" bg-white p-5" id="dernieres-nouvelles">
		<div
			class="container   px-lg-5">
			<!-- Page Features-->
			<h3 class="display-5 fw-bold text-center mt-5">comment ca marche!</h3>
			<div class="row d-flex justify-content-center">

				<div id="carouselExampleDark" class=" col carousel carousel-dark slide m-3 p-3 " data-bs-ride="carousel">

					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner  m-4  p-4">
						<div class="carousel-item active ">
							<div class="row d-flex justify-content-center">
								<div class="col-md-6 text-center">
									<h1>1<i class="fa-solid fa-list"></i>
									</h1>
									<h2 class="fs-4 fw-bold">Déclarez un objet perdu ou un objet trouvé</h2>
									<p class="mb-0">Remplissez le formulaire de déclaration en donnant un maximum de détails (sur le lieu de perte, le type de l’objet, sa description) pour aider l’algorithme à l’identifier rapidement</p>
								</div>
							</div>
						</div>
						<div class="carousel-item" data-bs-interval="8000">
							<div class="row d-flex justify-content-center">
								<div class="col-md-6 text-center">
									<h1>2<i class="fa-solid fa-user-shield"></i>
									</h1>
									<h2 class="fs-4 fw-bold">Prouvez la propriété de votre objet</h2>
									<p class="mb-0">Une fois l’objet perdu « matché », prouvez qui vous êtes grâce à une question de sécurité (ex : décrivez la coque de votre téléphone, …). Ainsi, notre partenaire qui a retrouvé cet objet pourra valider sereinement qu’il s’agit de votre objet.</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row d-flex justify-content-center">
								<div class="col-md-6 text-center">
									<h1>3<i class="fa-solid fa-handshake"></i>
									</h1>
									<h2 class="fs-4 fw-bold">Récupérez-le !</h2>
									<p class="mb-0">Dès que vous êtes authentifié, vous recevez les informations pour passer le récupérer</p>
								</div>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</section>
	
{% endblock %}
