{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class ='row container m-5 p-5'>
<h1>Hello :)</h1>
    <p>
       Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans 1 heure.

{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
   
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou   <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
   <div class="text-end"> <img class="w-25 mt-5 " src="{{ asset('images/logo/gtrouver-logo-134px.png') }}" alt=""></div>
</div>

{% endblock %}
