{% extends 'partials/navbar2.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="row m-5 p-5">
		<div class="col">
			<h1>Reset your password</h1>

			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-primary">Reset password</button>
			<a class="btn btn-primary" href="{{path('app_home')}}">backhome</a>
			{{ form_end(resetForm) }}</div>
	</div>

{% endblock %}
