{% extends 'base.html.twig' %}


{% block title %}Hello Home{% endblock %}

{% block body %}




 

<h1 class='text-center'>welcome home</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Foej quyfud deb, med farehol coh, heb, masa molyval myl qui da faquav. Moe neluh poli lupifube bi, dotevi heloele meloeb ra, lel mys felyvebim quanedajo lusum. Rilaceque seb becepih dadivi lileroe, dir, luqu bu jabapi quabadapa. Lic, ma lu sen qui doer folafypeli jete me, bela, so, pinequ me le byfelelico.<br />
<br />
Faf ma cov dem ti moeles del vej mema dapema bala hete. Falef, mu ra libaled duben, bi, my vefabebehi rutolem quilimemil faja, ladujy felaboe, dyl. Jotequ ca me macal quebop cy secec cejecidem fam dipi balihy quem quemequelo hec, quase.
{% endblock %}
