{% extends 'base.html.twig' %}

{% block title %}nouveau message{% endblock %}

{% block body %}
    <h1>Créer un nouveau message</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('app_messages') }}">retour à la liste</a>
{% endblock %}
